.text25 {
  font-size: 1.5625rem;
  line-height: 2.125rem;
}

.text20 {
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.text18 {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.text14 {
  font-size: 0.875rem;
  line-height: 1.1875rem;
}

.text12 {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text10 {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.extra-bold {
  font-size: 800;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
}

.medium {
  font-weight: 500;
}

.normal {
  font-weight: 400;
}
