@import "./fonts.scss";

:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;

  --darkness: #030229;
  --darkness-opacity-07: rgba(3, 2, 41, 0.7);
  --darkness-opacity-05: rgba(3, 2, 41, 0.5);
  --highlight: #605bff;
  --basic-grey: #dadada;
  --secondary-light: #f7f7f8;

  --secondary-highlight: #346dc4;
  --basic-blue: #28487b;
  --secondary-grey: #a9a9a9;
  --orange: #f58637;
  --yellow: #ffc400;
  --green: #6fb245;
  --cornflowerblue: #5d9ed6;
  --brown: #a04204;
  --dark-grey: #636363;

  color: var(--basic-dark);

  --index: calc(1vw + 1vh);
  font-size: calc(max(var(--index) * 0.545, 16px));
  line-height: 1.375rem;
}

.s-container {
  // max-width: 64rem;
  margin: 0 auto;
  max-width: 1440px;
  padding: 31px 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-title {
  // font-size: 20px;
  // line-height: 27.04px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: var(--darkness);
}

html {
  font-family: "Nunito", sans-serif;
  background: #fafafa;
}

body {
  background: #fafafa;
}
