@import "./fonts.scss";

:root {
  --basic-dark: #000000;
  --basic-light: #ffffff;

  --darkness: #030229;
  --darkness-opacity-07: rgba(3, 2, 41, 0.7);
  --darkness-opacity-05: rgba(3, 2, 41, 0.5);
  --highlight: #605bff;
  --basic-grey: #dadada;
  --secondary-light: #f7f7f8;

  --secondary-highlight: #346dc4;
  --basic-blue: #28487b;
  --secondary-grey: #a9a9a9;
  --orange: #f58637;
  --yellow: #ffc400;
  --green: #6fb245;
  --cornflowerblue: #5d9ed6;
  --brown: #a04204;
  --dark-grey: #636363;

  color: var(--basic-dark);

  --background: #fafafa;

  --index: calc(1vw + 1vh);
  font-size: calc(max(var(--index) * 0.545, 16px));
  line-height: 1.375rem;
}

.s-container {
  // max-width: 64rem;
  margin: 0 auto;
  // max-width: 1440px;
  max-width: 94%;
  padding: 31px 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-title {
  // font-size: 20px;
  // line-height: 27.04px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: var(--darkness);
  margin-bottom: 42px;
}

html {
  font-family: "Nunito", sans-serif;
  background: var(--background);
}

canvas {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
}

.footer {
  display: flex;
  align-items: flex-start;
  gap: 17px;

  .count-icon {
    width: 70px;
    height: 70px;
    flex: 0 0 70px;
  }

  span {
    margin-top: 6px;
    display: block;
  }

  .count {
    display: flex;
    align-items: center;
    max-width: 402px;
    height: 100%;
    background: var(--basic-light);
    padding: 27px 11px 27px 35px;
    border-radius: 14px;
    margin-top: 19px;

    .content {
      margin-left: 12px;
    }
  }
}

.filters {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 35px;

  .filters-title {
    color: var(--darkness-opacity-07);
  }

  .ico-size {
    width: 16px;
    height: 16px;
    flex: 0 0 16px;
  }

  .drop-ico {
    width: 10px;
    height: 10px;
  }

  .interval-days-drop {
    width: 182px;
    background: var(--basic-light);

    P {
      color: var(--darkness-opacity-07);
    }

    span {
      color: var(--darkness-opacity-07);
    }

    .choice {
      &:hover,
      &.selected,
      &:focus {
        span {
          color: var(--basic-light);
        }
      }
    }
  }
}


table {
  width: 100%;
  // border: none;
  // border-collapse: separate;
  // border-spacing: 0 20px;

  .header {
      display: flex;
      align-items: center;
      gap: 6px;

      .icon-size {
          width: 10px;
          height: 10px;
          transition: all 0.4s ease;

          &.ordered {
              transform: rotate(180deg);
          }
      }
  }

  .type {
      width: 22px;
      height: 22px;
      background-color: var(--secondary-highlight);
      border-radius: 7px;
      margin: auto;
  }

  th,
  td {
      // border: 1px solid var(--darkness);
      color: var(--darkness);

      span {
          text-align: center;
      }

  }

  th {
      opacity: 0.7;
      text-align: left;

      span {
          text-align: left;
      }
  }

  td {
      // padding: 28px 18px;
      padding: 28px 0;
      vertical-align: middle;
      text-align: center;
      background: var(--basic-light);

      span {
          margin-left: 16px;
      }

      &:first-child {
          border-radius: 14px 0 0 14px;
          padding-left: 18px;
      }

      &:last-child {
          padding-right: 18px;
          border-radius: 0 14px 14px 0;
      }

  }

  tr {
      width: 100%;
  }

  .total {
      text-align: left;
      border-radius: 14px;

      td {
          vertical-align: middle;
          color: var(--basic-light);
          background: var(--highlight);
          font-weight: 600;

          &:first-child {
              border-radius: 14px 0 0 14px;
          }

          &:last-child {
              border-radius: 0 14px 14px 0;
          }

      }
  }

}
